*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
/*
** font-family: 'Open Sans', sans-serif;
** font-family: 'Raleway', sans-serif; 
*/

:root {
    /* colors */
        --color_dark_blue_background: hsl(218, 28%, 13%);
       --color_dark_blue_email: hsl(217, 28%, 15%);
       --color_dark_blue_footer: hsl(216, 53%, 9%);
       --color_darck_blue_testimonials: hsl(219, 30%, 18%);

    /* btn */
        --color_cyan:  hsl(176, 68%, 64%);
        --color_blue: hsl(198, 60%, 50%);
    
    }
    

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: var(--color_dark_blue_background);
    color: white;
    text-align: center;

}


/*
**  Global css
*/

.intro, .strength, .productive, .comments, .earlyAccess, .footer_content{
    width: 80%;
    /* max-width: 700px; */
    margin: 0px auto;

}


img{
    width: auto;
    max-width: 100%;
}

h1{
    font-family: 'Raleway', sans-serif; 
    font-size: 1.5em;
    line-height: 1.5em;
    padding-bottom: 0.7em;

}

@media  (min-width: 750px){

    h1{
        font-size: 2.5em;
    
    }
}


h2{
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;
    font-weight: 700;

    padding-top: 1.9rem;
    padding-bottom: 0.9rem;
}

.btn{
    background: linear-gradient(to right, var(--color_cyan), var(--color_blue));
    border-radius: 500px;

    width: 15rem;
    height: 3rem;
    margin: 0px auto;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

a, button{
    text-decoration: none;
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    color: white;

    padding: 0;
    border: none;
    background: none;
}


/*
**  Navbar
*/

nav {
    font-family: 'Raleway', sans-serif; 
    color: lightslategray;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: var(--color_dark_blue_email);
}
nav .svgLogo{
    width: 75px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav li{
    padding-left: 1.5em;
    padding-right: 0.5em;

}


@media  (min-width: 750px){

    nav {
        font-size: 1.2em;
        padding: 5rem 5rem;
    }

    nav .svgLogo{
        width: 185px;
    }
}

/*
**  Intro section
*/

.intro img{
    width: auto;
    max-width: 100%;

    padding-top: 1.5em;
    padding-bottom: 2.3em;
}

.intro p{
    font-size: 1em;
    line-height: 1.5em;
}

.intro .btn{
    margin-top: 2.2em;
    margin-bottom: 1.5em;
}

.intro__divider{
    background-repeat: no-repeat;
    background-image:  
        url(../images/bg-curvy-mobile.svg), 
        linear-gradient(to right, var(--color_dark_blue_email), var(--color_dark_blue_email)), 
        linear-gradient(to right, var(--color_dark_blue_background), var(--color_dark_blue_background));
    
    background-position:
        right 50% bottom 50%,
        top, 
        bottom;
    
    background-size:  
        100%,
        100% 50%, 
        100% 50%;  
}

@media  (min-width: 750px){


    .intro{
        max-width: 700px;
    }
    .intro__divider{
        background-repeat: no-repeat;
        background-image:  
            url(../images/bg-curvy-desktop.svg), 
            linear-gradient(to right, var(--color_dark_blue_email), var(--color_dark_blue_email));
        
        background-position:
            right 50% bottom 00%,
            top;
        
        background-size:  
            100%,
            100% 95%;  
    }
    
.intro p{
    font-size: 1.6em;
}
}

/*
**  Strength section
*/

.strength{

    width: 65% !important;

    /* auto responsive grid - doesn't require mediaquery */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-column-gap: 12rem;
    grid-row-gap: 5rem;

    padding-bottom: 10.5rem;
}

.card{
    padding-top: 4rem;
}


#svgAccessAnywhere{
    width: 64px;
}

#svgSecurity{
    width: 53px;
}

#svgCollaboration{
    width: 65px;
}

#svgAnyType{
    width: 70px;
}


@media  (min-width: 750px){

    .strength{

        width: 75% !important;

    }
    .card{
        padding-top: 6.9rem;
    }
}

/*
**  Productive section
*/

.productive img{

    width: auto;
    padding-bottom: 1rem;
}

.productive{
    text-align: left !important;
    padding-bottom: 10rem;
}

.productive h2{
    margin-left: 4px;
}

.productive p{
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.link{
    width: 100%;
}

.productive a{
    font-size: 12px;
    font-weight: normal;
    color: var(--color_cyan);
    padding-bottom: 0.4em;
    border-bottom: 1px solid var(--color_cyan);
}

  
@media  (min-width: 750px){


    .productive{
        max-width: 80% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .productive img{
        max-width: 50%;
    }

    .productive h2{
        font-size: 3.5em;
    }
}

/*
**  Comments section
*/

.comments{
    text-align: left !important;
    padding-bottom: 10em;

    width: 75%;
}


.comment__quotes{
    width: 22px;
    margin-left: 5px;
}


.comment:first-of-type::before{
    content: url("../images/bg-quotes.png");
    width: auto;
    zoom: 50%;

    position: absolute;
    left: 1em;
    top: -4em;
    z-index: -1;
}

.comment{
    position: relative;
    background-color: var(--color_darck_blue_testimonials);
    margin-bottom: 1.5rem;
    border-radius: 5px;

    padding: 2.5em 2.2em 2.2em 2.2em;


    font-size: 0.8em;
    line-height: 1.7em;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.comment__p{
    padding-bottom: 2em;
}

.comment__profileImg{
    height: 25px;
    width: 25px;
    border-radius: 50%;

    float: left;
    margin-right: 10px;
}

.comment__name{
    font-weight: bolder;
    line-height: 12.55px;
}

.comment__function{
    font-size: 0.75em;;
    line-height: 12.55px;
}
 
@media  (min-width: 750px){

    .comments{
        max-width: 80% !important;

        display: flex;
        align-items: flex-start;
        gap: 3em;
    }

    .comment{
        font-size: 1em;
    }

    .comment:first-of-type::before{
        zoom: 1;;
        left: -1em;
        top: -3em;
    }
}

/*
**  earlyAccess section
*/

.earlyAccess__divider{
    background-repeat: no-repeat;
    background-image:  
        linear-gradient(to right, var(--color_dark_blue_background), var(--color_dark_blue_background)), 
        linear-gradient(to right, var(--color_dark_blue_footer), var(--color_dark_blue_footer));
    
    background-position:
        top, 
        bottom;
    
    background-size:  
        100% 50%, 
        100% 50%;  
}

.earlyAccess{
    width: 90%;
    border-radius: 5px;

    padding: 1em 2.5em 1em 2.5em;

    background-color: var(--color_dark_blue_email);
}

.inputBloc{
    margin: 2.5rem 0 1.5em 0;
}

.earlyAccess input {
    width: 100%;
    height: 3rem;
    padding: 1rem 1.2em 1rem 2rem;
    
    border: 1px solid #ccc;
    border-radius: 99999999px;

    font-family: 'Raleway', sans-serif; 
    font-size: 0.75em;
    text-align: left;  
}

.earlyAccess input:focus {
    outline: none;
}

.earlyAccess input:not(:focus):invalid ~ .error_message {
    display: block; 
}

.earlyAccess input:not(:focus):invalid ~ .blank {
    padding-bottom: 0;
}

.error_message {
    display: none;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    color: red;

    line-height: 1em;
  }

/* take the space of the futur error text */
.blank{
    font-size: 1em;
    padding-bottom: 1em;
}

@media  (min-width: 750px){

    .earlyAccess{
        width: 50%;
        border-radius: 5px;
    
        padding: 1em 2.5em 1em 2.5em;
    
        background-color: var(--color_dark_blue_email);
    }

    .earlyAccess form{
        display: flex;
        justify-content: space-between;
    }

    .earlyAccess .btn{
        margin: 2.5rem 0 1.5em 0;
    }

    .earlyAccess input{
        width: 22rem;
    }
}

/*
**  Footer
*/

footer{
    text-align: left;
    background-color: var(--color_dark_blue_footer);
}

footer .svgLogo{
    width: 176px;
    padding-top: 5rem;
}

footer p{
    font-size: 1.2em;
    display: flex;
    gap: 1.5rem;
    padding-top: 1rem;
}

footer ul{
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1em;
}

footer li:not(:first-child){
    padding-top: 1rem;
}

footer li{
    padding-top: 2rem;
}

.contact{
    font-size: 0.8em;
}

.socialIcons{
    font-size: 2rem;
    gap: 1.5rem;
    padding-top: 1rem;
    text-align: center;
}

  .attribution {
    font-size: 1rem;
    text-align: center;
}

  .attribution a {
    color: hsl(228, 45%, 44%);
}

  
@media  (min-width: 750px){

    footer{
        padding-bottom: 3rem;
    }

    .footer_content{
        
        min-width: 90% !important;
    }

    .footer__container{
        display: flex;
         gap: 3rem; 
    }

    .footer__boxDoubleSize{
        flex: 2 1 0;
    }

    .footer__boxSimpleSize{
        flex: 1 1 0;
    }
    
    footer li{
        padding-top: 0;
    }
}
